<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.uap.dao.ResourceLinkMapper">
  <resultMap id="BaseResultMap" type="com.dili.uap.domain.ResourceLink">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="resource_id" jdbcType="BIGINT" property="resourceId" />
    <result column="menu_id" jdbcType="BIGINT" property="menuId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--
      WARNING - @mbg.generated
    -->
    id, resource_id, menu_id
  </sql>

  <!--  根据资源id删除有资源链接权限的角色菜单权限  -->
  <delete id="deleteRoleMenuByResourceId" parameterType="long">
    DELETE rm
    FROM role_menu rm
    INNER JOIN resource_link rl ON rm.menu_id = rl.menu_id
    WHERE rl.resource_id=#{resourceId}
  </delete>

    <!--  根据有资源权限的角色， 批量新增角色菜单关系  -->
  <insert id="batchInsertRoleLink" parameterType="map">
    INSERT INTO role_menu (role_id, menu_id)
    select rr.role_id, #{menuId} menu_id
    FROM role_resource rr
    WHERE rr.resource_id=#{resourceId}
  </insert>

</mapper>