
<#body>
<#firm_editAdminUserJs />
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%;" height="auto">
		<!-- 隐藏编辑框 -->
		<div id="dlg" class="easyui-panel" resizable="false" constrain="true" shadow="true" draggable="false" title="商户管理" style="padding: 20px" border="thin" data-options="">
			<form id="_form" class="easyui-form" method="post" fit="true">
				<input name="id" id="id" value="${firm.id!}" type="hidden">
				<input name="userId" id="userId" value="${user.id!}" type="hidden">
				<input name="roleId" id="roleId" value="${role.id!}" type="hidden">
				<div class="row" width="800px">
					<p style="font-family: 'Arial Negreta', 'Arial Normal', 'Arial';font-weight: 700;font-style: normal;font-size: 16px;color: #FF0000;line-height: 20px;">
						<span style="padding-left: 5px;" id="serialNumber">${firm.serialNumber!}</span>
						<span id="space" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
						<span>${firm.name!}</span>
					</p>
					<p>
						<span style="padding-left: 5px;font-family:'Apple Color Emoji Regular', 'Apple Color Emoji';">💡</span>
						<span style="font-family:'Monaco Regular', 'Monaco';font-size: 14px;color: #FF0000;line-height: 22px;">:高级管理员为敏感信息，请注意修改！</span>
					</p>
				</div>
				<table width="800px">
					<tr>
						<td style="padding: 5px;"><input class="easyui-textbox" name="userName" id="userName" value="${user.userName!}" style="width: 90%" data-options="label:'账号名:', validType:['length[0,20]','checkUserName']"
							required="true" /></td>
					</tr>
					<tr>
						<td style="padding: 5px;"><input class="easyui-textbox" name="cellphone" id="cellphone" value="${user.cellphone!}" type="tel" style="width: 90%" data-options="label:'联系电话:', validType:['length[0,12]','checkCellphone']"
							required="true" /></td>
					</tr>
					<tr>
						<td style="padding: 5px;"><input class="easyui-textbox" name="email" id="email" value="${user.email!}" style="width: 90%" data-options="label:'联系邮箱:', validType:['length[0,40]','email']"
							required="true" /></td>
					</tr>
					<tr>
						<td><a href="#" class="easyui-linkbutton" onclick="resetPassword()">重置密码</a></td>
					</tr>
					<tr>
						<td style="padding: 5px; height: auto;">
							<!-- 隐藏的权限编辑框 -->
							<table title="资源列表" class="easyui-treegrid" noheader="true" style="width: 100%; height: auto;" id="roleMenuAndResourceGrid"
								data-options="pagination:false, checkbox: true,rownumbers: false,idField:'treeId',treeField:'name',_parentIdField:'parentId',loadFilter:treegridLoadFilter,cascadeCheck:false,onLoadSuccess:roleMenuTreeLoadsuccess">
								<thead>
									<tr>
										<th width="30%" data-options="field:'name',resizable:'true'">名称</th>
										<th width="20%" data-options="field:'type',resizable:'true'">权限类型</th>
										<th width="50%" data-options="field:'description',resizable:'true'">描述</th>
									</tr>
								</thead>
							</table>
						</td>
					</tr>
					<tr>
						<td style="padding: 5px;">
						  <a id="btn" href="javascript:void(0);" class="easyui-linkbutton" style="margin-left: 40%" data-options="iconCls:'icon-save',onClick:saveOrUpdate">提交</a> 
						  <a id="btn" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search',onClick:function(){window.location.href='${contextPath!}/firm/index.html';}">返回</a>
						  <a id="btn" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search',onClick:function(){selectAll();}">全选</a>
						  <a id="btn" href="javascript:void(0);" class="easyui-linkbutton" data-options="iconCls:'icon-search',onClick:function(){disselectAll();}">全不选</a>
					   </td>
					</tr>
				</table>
			</form>

		</div>
	</div>
</div>

<!-- ====================================================================================================================== --> <!-- style & script 分隔线 --> <!-- ====================================================================================================================== -->

</#body>