<#body>

<style>
.l-btn-text {
	font-size: 18px;
}

.l-btn-plain-selected {
	background: #FFF;
	color: #0d7fe0;
	font-weight: bold;
}
</style>
<script type="text/javascript">
<#firm_indexJs/>    
</script>
<div class="easyui-layout" fit="true">
	<!-- ====================================================================================================================== -->
	<!-- 上方布局 -->
	<!-- ====================================================================================================================== -->
	<div region="north" height="auto" align="center" border="false">
		<div id="nav" style="padding-left: 15px; padding-top: 10px;" align="left">
			<#nav />
		</div>
		<!-- =========================================================表单========================================================= -->
		<div class="easyui-panel" style="width: 100%;" align="left">
			<form id="form" class="easyui-form" method="post" fit="true">
				<div class="search-wrap">
					<div class="search-item">
						<input class="easyui-textbox" name="name" id="name" style="width: 100%" labelAlign="right" data-options="label:'企业名称:', validType:'length[0,20]'" />
					</div>
					<div class="search-item">
						<input class="easyui-textbox" name="industry" id="industry" style="width: 100%" labelAlign="right" data-options="label:'所属行业:', editable:false" />
						<#comboProvider _id="industry" _provider="dataDictionaryValueProvider" _queryParams='{dd_code:"industry",emptyText:"-- 全部 --"}' />
					</div>
					<div class="search-item">
						<input class="easyui-textbox" name="serialNumber" id="serialNumber" style="width: 100%" labelAlign="right" data-options="label:'商户号:', validType:'length[0,20]'" />
					</div>
					<div class="search-item">
						<input class="easyui-datebox" name="createdStart" id="createdStart" style="width: 100%" data-options="labelAlign:'right',editable:false,labelWidth:100" panelHeight="auto" label="创建日期:" />
					</div>
					<div class="search-item">
						<input class="easyui-datebox" name="createdEnd" id="createdEnd" style="width: 100%" data-options="labelAlign:'center',editable:false" panelHeight="auto" label="-" />
					</div>
					<div class="search-item">
						<input class="easyui-textbox" name="firmState" id="firmState" style="width: 100%" labelAlign="right" data-options="label:'状态:', editable:false,onLoadSuccess:queryGrid" />
						<#comboProvider _id="firmState" _provider="firmStateProvider" _queryParams='{dd_code:"state",emptyText:"-- 全部 --"}' />
					</div>
					<div class="search-wrap-btn">
						<a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn" onclick="queryGrid()">查询</a>&nbsp;&nbsp; <a href="javascript:void(0)" class="easyui-linkbutton" iconCls="icon-clear"
							onclick="clearForm()">清除</a>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- ====================================================================================================================== -->
	<!-- 中央布局 -->
	<!-- ====================================================================================================================== -->
	<!-- 表格 -->
	<div region="center" style="width: 100%" height="auto" border="false">
		<!--		<div>-->
		<!--			<a href="#" class="easyui-linkbutton" onclick="queryGridByState(0)" data-options="toggle:true,group:'g1',plain:true,selected:true">全部</a>-->
		<!--			<a href="#" class="easyui-linkbutton" onclick="queryGridByState(1)" data-options="toggle:true,group:'g1',plain:true">开通</a>-->
		<!--			<a href="#" class="easyui-linkbutton" onclick="queryGridByState(2)" data-options="toggle:true,group:'g1',plain:true">关闭</a>-->
		<!--		</div>-->
		<!-- =========================================================表格========================================================= -->
		<table class="easyui-treegrid" title="市场列表" id="grid" toolbar="#toolbar" fitColumns="true" noheader="true" rownumbers="false" remoteSort="false"
			loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="created" sortOrder="desc" align="center" fit="true" striped="true" idField="id" treeField="name"
			data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu,loadFilter:treegridLoadFilter, _parentIdField:'parentId',onLoadSuccess:gridLoadSuccess">
			<thead>
				<tr>
					<th width="15%" data-options="field:'name',   sortable:true, order:'asc', align:'left', resizable:'true', fixed:'false'">企业名称</th>
					<th width="15%" data-options="field:'serialNumber',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">商户号</th>
					<th width="10%" data-options="field:'simpleName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">企业简称</th>
					<th width="10%" data-options="field:'code',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">企业简码</th>
					<th width="15%"
						data-options="field:'industry', _provider:'dataDictionaryValueProvider', _queryParams:{'dd_code':'industry'}, sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">所属行业</th>
					<th width="10%" data-options="field:'telephone',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">联系电话</th>
					<th width="15%" data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">创建时间</th>
					<th width="10%" data-options="field:'firmState', _provider:'firmStateProvider',  sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">状态</th>
				</tr>
			</thead>
		</table>
		<div id="toolbar" style="padding: 10px 5px 10px 30px; background: #FFFFFF">
			<#resource code="addFirm">
			     <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="openInsert()" plain="true">新增</a>
			</#resource>
			<#resource code="updateFirm">
			     <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="openUpdate()" plain="true">修改</a>
			</#resource>
			<a href="#" class="easyui-linkbutton" iconCls="icon-detail" onclick="viewDetail()" plain="true">查看</a>
			<#resource code="firmAddApprove">
			<a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="approve()" plain="true">审核</a>
			</#resource>
			<#resource code="deleteFirm">
			     <a href="#" class="easyui-linkbutton" iconCls="icon-remove" onclick="del()" plain="true">删除</a>
			</#resource>
			<#resource code="updateFirmFirm">
				<a href="#" class="easyui-linkbutton" iconCls="icon-play" onclick="doEnable(true);" plain="true">启用</a>
				<a href="#" class="easyui-linkbutton" iconCls="icon-stop" onclick="doEnable(false);" plain="true">禁用</a>
			</#resource>
			<#resource code="editFirmAdmin">
			     <a href="#" class="easyui-linkbutton" iconCls="icon-edit" onclick="updateAdminUser()" plain="true">设置管理员</a>
			</#resource>
			<#resource code="exportFirm">
                 <!-- <a href="#" class="easyui-linkbutton" iconCls="icon-export" onclick="doExport('grid');" plain="true">导出</a> -->
            </#resource>
		</div>
	</div>
</div>

<!-- ====================================================================================================================== --> <!-- style & script 分隔线 --> <!-- ====================================================================================================================== -->
</#body>