<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" height="auto" align="center" border="false">
        <div style="width: 100%;height: 100%;" align="center">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" id="ddValueGrid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="false" remoteSort="false" loadMsg="数据加载中..."
                   singleSelect="true" method="post" align="center" fit="true" idField="id" border="false"
                   data-options="onClickRow:onClickDdValueGridRow,
                   onDblClickRow:openUpdateDdValue,
                   onBeginEdit:onBeginEditDdValue,
                   onAfterEdit:onAfterEditDdValue,
				onCancelEdit:onCancelEditDdValue,
				onLoadSuccess:gridLoadSuccess,
				onEndEdit:onDdValueEndEdit">
                <thead>
                <tr>
                    <th  data-options="field:'ddCode',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false', hidden:true">字典id</th>
                    <th width="25%" data-options="field:'name',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',editor:{type : 'textbox',options : {required : true,validType:'length[1,120]'}}">名称</th>
                    <th width="25%" data-options="field:'code', sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',editor:{type : 'textbox',options : {required : true,validType:'length[1,120]'}}">编码</th>
                    <th width="25%" data-options="field:'firmCode',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',editor:{type : 'combobox',
                    options : {
                    	valueField:'code',
                    	textField:'name',
                    	url:'${contextPath!}/firm/listByLoggedUser.action',
                    	editable:false,
                    	onLoadSuccess:selectFirm
                    }
                   }">归属市场</th>
                    <th width="13%" data-options="field:'orderNumber',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
						editor:{type : 'numberbox',options : {required : true,validType:'length[1,5]'}}">排序号</th>
					<th width="10%" data-options="field:'state',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
						formatter:function(v){return v==1?'启用':'禁用';},
						editor:{type : 'combobox',options : {
							editable:false,
							valueField:'value',
							textField:'label',
							data:[
								{label:'启用',value:1},
								{label:'禁用',value:0}]
							}}">状态</th>
                    <th width="28%" data-options="field:'description',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
						editor:{type : 'textbox',options : {validType:'length[0,20]'}}">备注</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

    <#dataDictionaryValue_listJs/>
