<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <!-- 表格 -->
    <div region="center" height="auto" align="center" border="false">
        <div style="width: 96%;height: 100%;" align="center">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" id="ddValueGrid" fitColumns="true" pagination="true" pageSize="30" pageNumber="1" pagePosition="top" rownumbers="true" remoteSort="false" loadMsg="数据加载中..."
                   singleSelect="true" method="post" align="center" fit="true" idField="id" border="false"
                   data-options="onDblClickRow:openUpdateDdValue,onBeginEdit:onBeginEditDdValue,onAfterEdit:onAfterEditDdValue,
				onCancelEdit:onCancelEditDdValue">
                <thead>
                <tr>
                    <th  data-options="field:'ddCode',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false', hidden:true">字典id</th>
                    <th width="15%" data-options="field:'name',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',editor:{type : 'textbox',options : {required : true}}">名称</th>
                    <th width="15%" data-options="field:'code',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',editor:{type : 'textbox',options : {required : true}}">编码</th>
                    <th width="8%" data-options="field:'orderNumber',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
						editor:{type : 'numberbox',options : {required : true}}">排序号</th>
                    <th width="22%" data-options="field:'description',sortable:'true', order:'asc', align:'center', resizable:'true', fixed:'false',
						editor:{type : 'textbox',options : {required : true}}">备注</th>
                </tr>
                </thead>
            </table>
        </div>
    </div>
</div>

    <#dataDictionaryValue_listJs/>
