<#body>
<div class="easyui-layout" fit="true">

	<div region="north" height="auto" align="center" style="padding-bottom: 15px;"  border="false">
		<div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
			<#nav/>
		</div>
	</div>
	<!-- 左侧菜单树 -->
	<div style="width: 210px;" height="100%" align="left" data-options="region:'west',title:'菜单管理',split:true">
			<ul id="menuTree" class="easyui-tree" lines="false" url="${contextPath}/menu/listSystemMenu.action"
				data-options="loadFilter:treeLoadFilter, _idField:'id', _textField:'name', _parentIdField:'parent_id'" />
	</div>

	<!-- 表格 -->
	<div region="center" style="width: 100%;"  height="100%"  border="false" align="center">
		<div id="p1" class="easyui-panel" style="width:100%;height:50%;">
		<!-- =========================================================表格========================================================= -->
			<table id="grid"></table>
		</div>
		<div id="p2" class="easyui-panel" style="width:100%;height:50%;">
			<!-- =========================================================表格========================================================= -->
			<table id="inlineGrid"></table>
		</div>
	</div>
			


</div>

<#menu_js/>
</#body>