 <#body>
    <div class="easyui-layout" fit="true">
        <!-- ====================================================================================================================== -->
        <!-- 上方布局 -->
        <!-- ====================================================================================================================== -->
        <div region="north" height="auto" align="center"  border="false">
            <div id="nav" style="padding-left:15px;padding-top:10px;" align="left">
                <#nav/>
            </div>
            <!-- =========================================================表单========================================================= -->
            <div class="easyui-panel" style="width:100%;" align="left" border="false">
                <form id="form" class="easyui-form" method="post" fit="true">
                    <table style="padding:10px;">
                        <tr>
                            <%if(isGroup){%>
                                <td style="padding:5px;">
                                    <input class="easyui-combobox" name="firmCode" id="firmCode" style="width:100%" data-options="label:'所属市场:',editable:false,labelAlign:'right',valueField:'code',textField:'name',
                                        onLoadSuccess:function(){
                                           $('#firmCode').combobox('select',firmCode);
                                           loadDepartments(firmCode,'departmentId');
                                           loadRoles(firmCode);
                                       },onChange:function(newValue,oldValue){
                                           loadDepartments(newValue,'departmentId');
                                           loadRoles(newValue);
                                       }" panelHeight="auto" />
                                </td>
                            <%}else{%>
                                <td>
                                    <input type="hidden"  name="firmCode" id="firmCode" value="${firmCode}" style="width:100%"/>
                                </td>
                            <%}%>
                            <td style="padding:5px;">
                                <input class="easyui-combobox" name="departmentId" id="departmentId" panelHeight="auto" style="width:100%" data-options="label:'归属部门:',labelAlign:'right',editable:false,valueField:'id',textField:'name'" />
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-combobox" name="roleId" id="roleId" panelHeight="auto" style="width:100%" data-options="label:'角色类型:',labelAlign:'right',editable:false,valueField:'id',textField:'roleName'" />
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-numberbox" name="state" id="state" style="width:100%" data-options="label:'状态:',labelAlign:'right'" />
                            </td>
                            <td style="padding:5px;">
                                <input class="easyui-textbox" name="cellphone" id="cellphone" style="width:100%" data-options="label:'手机号码:',labelAlign:'right'" />

                            </td>
                            <td>
                                <a href="#" class="easyui-linkbutton" iconCls="icon-search" id="queryBtn"
                                   onclick="queryGrid()">查询</a> &nbsp;&nbsp;
                                <a href="javascript:void(0)" class="easyui-linkbutton" onclick="clearForm()">清除</a>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <!-- ====================================================================================================================== -->
        <!-- 中央布局 -->
        <!-- ====================================================================================================================== -->
        <!-- 表格 -->
        <div region="center" style="width:100%;" height="auto"  border="false">
            <!-- =========================================================表格========================================================= -->
            <table class="easyui-datagrid" title="用户列表" id="userGrid" fitColumns="true" noheader="true"
                   pagination="true" pageSize="30" pageNumber="1" pagePosition="top" remoteSort="false"
                   loadMsg="数据加载中..." singleSelect="true" method="post" multiSort="false" sortName="userName"
                   align="center" fit="true" striped="true" idField="id" data-options="onDblClickRow:openUpdate, onHeaderContextMenu:headerContextMenu">
                <thead>
                    <tr>
                        <th width="10%" data-options="field:'userName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            用户账号
                        </th>
                        <th width="10%" data-options="field:'realName',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            真实姓名
                        </th>
                        <th width="15%" data-options="field:'cellphone',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            手机号码
                        </th>
                        <th width="20%" data-options="field:'cardNumber',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            角色类型
                        </th>
                        <th width="10%" data-options="field:'firmCode',_provider:'firmCodeProvider',sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            归属市场
                        </th>
                        <th width="10%" data-options="field:'departmentId',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            归属部门
                        </th>
                        <th width="10%" data-options="field:'state',   sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            状态
                        </th>
                        <th width="16%" data-options="field:'created',  _provider:'datetimeProvider', sortable:true, order:'asc', align:'center', resizable:'true', fixed:'false'">
                            创建时间
                        </th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
    <!-- 隐藏编辑框 -->
    <div id="dlg" class="easyui-dialog" resizable="false" constrain="true" shadow="true" draggable="false" title="用户信息" style="padding:10px;width: 35%;" modal="true" border="thin" closed="true"
         data-options="
				height: 540,
				buttons: [{
					text:'确认',
					iconCls:'icon-ok',
					handler:saveOrUpdate
				}]
			">
    <form id="_form" class="easyui-form" method="post" fit="true">
        <input name="_id" id="_id" type="hidden">
        <table width="100%">
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_userName" id="_userName"  style="width:85%;height:28px;"data-options="labelAlign:'right',label:'&lowast;用户账号:', validType:'length[0,50]'"
                        required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-passwordbox" editable="false" readonly="true" name="_password" id="_password" style="width:85%;height:28px;"  data-options="labelAlign:'right',label:'&lowast;密码:', validType:'length[0,128]',showEye:false" required/>
                    <a href="#" class="easyui-linkbutton" id="resetPass" onclick="resetPass()">重置</a>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_realName" id="_realName" style="width:85%;height:28px;" data-options="labelAlign:'right',label:'&lowast;真实姓名:', validType:'length[0,64]',events:{blur:getEmailByName}"
                           required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_cellphone" id="_cellphone" style="width:85%;height:28px;" data-options="labelAlign:'right',label:'&lowast;手机号码:', validType:['phoneNum','length[0,24]']" required="true" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_email" id="_email" style="width:85%;height:28px;" data-options="labelAlign:'right',label:'&lowast;邮箱:', validType:['email','length[0,64]']" required="true"/>
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_position" id="_position" style="width:85%;height:28px;" data-options="labelAlign:'right',label:'职位:', validType:'length[0,20]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_cardNumber" id="_cardNumber" style="width:85%;height:28px;" data-options="labelAlign:'right',label:'卡号:', validType:'length[0,20]'" />
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-combobox" name="_firmCode" id="_firmCode" panelWidth="auto" panelHeight="auto" required editable="false"  style="width:85%;height:28px;" data-options="labelAlign:'right',label:'&lowast;归属市场:',valueField:'code',textField:'name',
                                        onLoadSuccess:function(){
                                           $('#_firmCode').combobox('select',firmCode);
                                           loadDepartments(firmCode,'_departmentId');
                                       },onChange:function(newValue,oldValue){
                                            loadDepartments(newValue,'_departmentId');
                                       }">
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-combobox" name="_departmentId" panelWidth="auto" panelHeight="auto"  editable="false" id="_departmentId" style="width:85%;height:28px;" data-options="labelAlign:'right',label:'归属部门:',valueField:'id',textField:'name'">
                </td>
            </tr>
            <tr>
                <td style="padding:5px;">
                    <input class="easyui-textbox" name="_description"  id="_description" style="width:85%;height:70px;" data-options="labelAlign:'right',label:'备注:',multiline:true,validType:'length[0,255]'">
                </td>
            </tr>
        </table>
    </form>

    </div>
    <!-- ====================================================================================================================== -->
    <!-- style & script 分隔线 -->
    <!-- ====================================================================================================================== -->
    <#user_indexJs />
    <script type="text/javascript">


        //打开修改窗口
        function openUpdate(){
            var selected = $("#grid").datagrid("getSelected");
            if (null == selected) {
                $.messager.alert('警告','请选中一条数据');
                return;
            }
            $('#dlg').dialog('open');
            $('#dlg').dialog('center');
            formFocus("_form", "_userName");
            var formData = $.extend({},selected);
            formData = addKeyStartWith(getOriginalData(formData),"_");
            $('#_form').form('load', formData);
        }

        $.messager.progress({
            title:"提示",
            msg:"加载中,请稍候...",
            value : '10',
            text: '{value}%',
            interval:200
        });
        $.parser.onComplete = function(){
            $.messager.progress("close");
        }

    </script>
</#body>