<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dili.uap.as.mapper.UserPushInfoMapper">
  <resultMap id="BaseResultMap" type="com.dili.uap.sdk.domain.UserPushInfo">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="push_id" jdbcType="VARCHAR" property="pushId" />
    <result column="platform" jdbcType="VARCHAR" property="platform" />
  </resultMap>

  <!-- 根据角色ID删除角色-菜单 信息 -->
  <delete id="deleteByUserIdOrPushId" >
    delete from user_push_info where user_id = #{userId} or push_id = #{pushId}
  </delete>
</mapper>