<#body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/css/swiper.min.css">
<style>
    #mainMenu {
        position: relative;
    }
    #menuSwiper {
        height: 42px;
    }

    @media only screen and (min-width: 1360px) {
        #menuSwiper {
            width: 820px;
        }
    }
    @media only screen and (min-width: 1440px) {
        #menuSwiper {
            width: 900px;
        }
    }
    @media only screen and (min-width: 1920px) {
        #menuSwiper {
            width: 1400px;
        }
    }
    .swiper-slide {
        text-align: center;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .swiper-button-next,
    .swiper-button-prev {
        width: 16px;
        height: 26px;
        background-size: unset;
        top: 76%;
        outline: none;
    }
    .swiper-button-prev {
        left: 10px;
    }
    .swiper-button-next {
        right: 10px;
    }
    .swiper-button-next.swiper-button-disabled,
    .swiper-button-prev.swiper-button-disabled {
        opacity: 0;
    }

    .l-btn-plain.cur,
    .l-btn-plain {
        width: 106px;
        /*padding-left: 20px;*/
        /*padding-right: 20px;*/
        text-align: center;
        margin-right: 10px;
        background: rgba(230,230,230,0.8);
        border-radius:11px;
        color: #000;
    }
    .l-btn-text {
        line-height: 40px;
        font-size: 16px;
        font-weight:bold;
        font-family: "微软雅黑 Light";
    }
    .l-btn-plain:hover {
        background: #0081c2;
        color: #fff;
        border-radius:11px;
    }
    .menu-text {
        /*width: 100%;*/
        width: 118px;
        padding-left: 0;
        text-align: center;
        font-size: 16px;
        font-weight:bold;
        font-family: "微软雅黑 Light";
    }
    td div div:first-child {
        border: 0;
    }
    body {
        margin: 0;
        padding: 0;
    }
    /*顶部导航条*/
    .panel-body {
        font-size: 15px;
    }
    #header-menu {
        padding-top: 8px;
        padding-bottom: 8px;
        box-sizing: border-box;
        background-size: cover;
    }

    .logo a {
        text-decoration: none;
    }
    .logo img {
        vertical-align: middle;
    }
    .logo span {
        vertical-align: middle;
        font-size: 18px;
        color: #000;
        font-family: "微软雅黑 Light";
        font-weight: bold;
    }
    .homeA {
        display: inline-block;
        width: 46px;
        height: 38px;
        border: 0px solid #fff;
        background: url(${contextPath}/resources/images/icon/home.png) no-repeat center;
    }
    .homeA:hover{
        border: 1px solid dodgerblue;
        border-radius: 12px;
    }
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.5.0/js/swiper.min.js"></script>
<script type="text/javascript">
    $(function () {
        var menuSwiper = new Swiper('#menuSwiper', {
            slidesPerView : 3,
            spaceBetween: 0,
            breakpoints: {
                1366: {
                    slidesPerView: 5,
                    slidesPerGroup : 2,
                },
                1440: {
                    slidesPerView: 6,
                    slidesPerGroup : 2,
                },
                1920: {
                    slidesPerView: 8,
                    slidesPerGroup : 1,
                }
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }/*,
                on: {
                    resize: function(){
                        this.params.width = window.innerWidth - 500;
                        this.update();
                    },
                }*/
        });
    });
    //sm加载过滤器
    var smLoadFilter = function(data){
        var idField = $("#sm").sidemenu("options")["_idField"];
        var textField = $("#sm").sidemenu("options")["_textField"];
        var parentIdField = $("#sm").sidemenu("options")["_parentIdField"];
        var jsonData = $.isArray(data) ? data : data.rows;
        //如果没数据或者已经有children属性，则不进行转换，主要用于拖动有子节点的场景
        //这里不能返回jsonData，jsonData可能为null导致报错，只能返回data
        if(null == jsonData || (jsonData.length <=0 || jsonData[0].hasOwnProperty("children"))){
            return data;
        }
        if(idField && idField != null && idField != ""){
            modifyJsonKey(jsonData,idField,"id");
        }
        if(textField && textField != null && textField != ""){
            modifyJsonKey(jsonData,textField,"text");
        }
        if(parentIdField && parentIdField != null && parentIdField != ""){
            modifyJsonKey(jsonData,parentIdField,"parentId");
        }
        return convertTree(jsonData);
    }
</script>

<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div  id="header-menu" region="north" height="auto" style="border:1px solid lightgray; width: 99.9%" align="center" >
        <table width="99.9%" style="padding: 0px; margin:0px;border-spacing: 0; border: 1px;" >
            <tr>
                <td class="home" style="padding-left: 30px;width: 60px;padding-right: 20px;"><a href="${contextPath}/index/index.html" class="homeA"></a></td>
                <td class="logo" ><a href="${system.url!}"><img  src="${system.logoUrl!(contextPath+"/resources/images/icon/uni-logo.png")}" alt=""><span>&nbsp;&nbsp;${system.name!}</span></a></td>
                <td>
                    <div id="mainMenu" class="easyui-panel" align="center" style="padding:1px;">
                        <div id="menuSwiper" class="swiper-container">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide">
                                    <a id="menubutton_2" href="#" class="easyui-linkbutton"
                                       data-options="width:145, height:40, blankKey:'', plain:true, hasDownArrow:false, onClick:systemClickHandler, name:'统一权限管理', id:'2', type:'1', url:'http://uap.diligrp.com/index/index.html?systemCode=PARK', description:'园区管理系统', indexUrl:'http://uap.diligrp.com/index/featureList.html?systemCode=PARK', iconUrl:'http://uap.diligrp.com/resources/images/platform/sys-park.png', isClient:'0', code:'PARK', orderNumber:'2', class:'class com.sun.proxy.$Proxy167'">统一权限管理</a>
                                </div>
                                <div class="swiper-slide">
                                    <a id="menubutton_3" href="#" class="easyui-linkbutton"
                                       data-options="width:145, height:40, blankKey:'', plain:true, hasDownArrow:false, onClick:systemClickHandler, name:'客户关系管理系统', id:'3', type:'1', url:'http://uap.diligrp.com/index/index.html?systemCode=CRM', description:'客户关系管理系统', indexUrl:'http://crm.diligrp.com:8085/index.html', iconUrl:'http://uap.diligrp.com/resources/images/platform/sys-crm.png', isClient:'0', code:'CRM', orderNumber:'3', class:'class com.sun.proxy.$Proxy167'">客户关系管理系统</a>
                                </div>
                                <div class="swiper-slide">
                                    <a id="menubutton_4" href="#" class="easyui-linkbutton"
                                       data-options="width:145, height:40, blankKey:'', plain:true, hasDownArrow:false, onClick:systemClickHandler, name:'积分管理系统', id:'4', type:'1', url:'http://uap.diligrp.com/index/index.html?systemCode=POINTS', description:'积分管理系统', indexUrl:'http://uap.diligrp.com/index/featureList.html?systemCode=POINTS', iconUrl:'http://uap.diligrp.com/resources/images/platform/sys-points.png', isClient:'1', code:'POINTS', orderNumber:'4', class:'class com.sun.proxy.$Proxy167'">积分管理系统</a>
                                </div>
                                <div class="swiper-slide">
                                    <a id="menubutton_5" href="#" class="easyui-linkbutton"
                                       data-options="width:145, height:40, blankKey:'', plain:true, hasDownArrow:false, onClick:systemClickHandler, name:'神龙权限', id:'5', type:'2', url:'http://mg.nong12.com/loginControl/loginFromUAP.do', indexUrl:'http://mg.nong12.com/main.do', isClient:'0', code:'shenlongquanxian', orderNumber:'5', class:'class com.sun.proxy.$Proxy167'">神龙权限1</a>
                                </div>
                                <div class="swiper-slide">
                                    <a id="menubutton_6" href="#" class="easyui-linkbutton"
                                       data-options="width:145, height:40, blankKey:'', plain:true, hasDownArrow:false, onClick:systemClickHandler, name:'神龙权限', id:'6', type:'2', url:'http://mg.nong12.com/loginControl/loginFromUAP.do', indexUrl:'http://mg.nong12.com/main.do', isClient:'0', code:'shenlongquanxian', orderNumber:'5', class:'class com.sun.proxy.$Proxy167'">神龙权限1</a>
                                </div>
                                <div class="swiper-slide">
                                    <a id="menubutton_7" href="#" class="easyui-linkbutton"
                                       data-options="width:145, height:40, blankKey:'', plain:true, hasDownArrow:false, onClick:systemClickHandler, name:'神龙权限', id:'7', type:'2', url:'http://mg.nong12.com/loginControl/loginFromUAP.do', indexUrl:'http://mg.nong12.com/main.do', isClient:'0', code:'shenlongquanxian', orderNumber:'5', class:'class com.sun.proxy.$Proxy167'">神龙权限1</a>
                                </div>
                                <div class="swiper-slide">
                                    <a id="menubutton_8" href="#" class="easyui-linkbutton"
                                       data-options="width:145, height:40, blankKey:'', plain:true, hasDownArrow:false, onClick:systemClickHandler, name:'神龙权限', id:'8', type:'2', url:'http://mg.nong12.com/loginControl/loginFromUAP.do', indexUrl:'http://mg.nong12.com/main.do', isClient:'0', code:'shenlongquanxian', orderNumber:'5', class:'class com.sun.proxy.$Proxy167'">神龙权限1</a>
                                </div>
                                <div class="swiper-slide">
                                    <a id="menubutton_9" href="#" class="easyui-linkbutton"
                                       data-options="width:145, height:40, blankKey:'', plain:true, hasDownArrow:false, onClick:systemClickHandler, name:'神龙权限', id:'9', type:'2', url:'http://mg.nong12.com/loginControl/loginFromUAP.do', indexUrl:'http://mg.nong12.com/main.do', isClient:'0', code:'shenlongquanxian', orderNumber:'5', class:'class com.sun.proxy.$Proxy167'">神龙权限1</a>
                                </div>
                                <div class="swiper-slide">
                                    <a id="menubutton_10" href="#" class="easyui-linkbutton"
                                       data-options="width:145, height:40, blankKey:'', plain:true, hasDownArrow:false, onClick:systemClickHandler, name:'神龙权限', id:'10', type:'2', url:'http://mg.nong12.com/loginControl/loginFromUAP.do', indexUrl:'http://mg.nong12.com/main.do', isClient:'0', code:'shenlongquanxian', orderNumber:'5', class:'class com.sun.proxy.$Proxy167'">神龙权限1</a>
                                </div>
                                <div class="swiper-slide">
                                    <a id="menubutton_11" href="#" class="easyui-linkbutton"
                                       data-options="width:145, height:40, blankKey:'', plain:true, hasDownArrow:false, onClick:systemClickHandler, name:'神龙权限', id:'11', type:'2', url:'http://mg.nong12.com/loginControl/loginFromUAP.do', indexUrl:'http://mg.nong12.com/main.do', isClient:'0', code:'shenlongquanxian', orderNumber:'5', class:'class com.sun.proxy.$Proxy167'">客户关系管理系统</a>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-button-prev swiper-button-black"></div>
                        <div class="swiper-button-next swiper-button-black"></div>
                    </div>
                </td>

                <td class="header-user" width="110px">

                    <div id="userMenu" class="easyui-panel" style="padding:1px; float: left">
                        <a id="menubutton_right" href="#" class="easyui-menubutton" data-options="menu:'#menu_right', plain:true, hasDownArrow:false">${username}</a>
                    </div>
                    <div id="menu_right" style="width:100px" data-options="zIndex:'110000' , align:'left', noline:true, onClick:systemClickHandler, minWidth:108" itemHeight="40">
                        <%if(system.code==@com.dili.uap.constants.UapConstants.UAP_SYSTEM_CODE){%>
                        <div id="menu_userDetail" data-options="url:'${contextPath}/index/userDetail.html', align:'left'">
                            用户信息
                        </div>
                        <div id="menu_changePwd" data-options="url:'${contextPath}/index/changePwd.html', align:'left'">
                            修改密码
                        </div>
                        <%}%>
                        <div id="menu_logout" data-options="blankKey:'', align:'left'">
                            注销
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 西方布局 当系统编码为UAP时(此时首页显示系统图标)，不显示-->
    <!-- ====================================================================================================================== -->
    <%if(system.code!=@com.dili.uap.constants.UapConstants.UAP_SYSTEM_CODE){%>
    <div style="width: 173px;" height="100%" align="left" data-options="region:'west',title:'功能导航',split:true, hideCollapsedContent:false, expandMode:'dock'">
        <div id="sm" class="easyui-sidemenu" width="150" data-options="onSelect:menuClickHandler, data:[], _idField:'id', _textField:'name', _parentIdField:'parent_id'"></div>
    </div>
    <%}%>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <div region="center" style="width:100%;border:0px;" height="auto" >
        <div id="mainPanel" class="easyui-panel" style="width: 100%; height: 100%;" border="false" data-options="">
        </div>
    </div>
</div>
<!-- 强制修改密码弹出框 -->
<div class="easyui-window" id="changePwdWin" closable="false" minimizable="false" maximizable="false" collapsible="false"
     draggable="false" title="修改密码" modal="true" closed="true" style="width:320px;height:240px">
    <form id="changePwdForm" class="easyui-form" fit="true" method="post" novalidate="novalidate">
        <div style="width: 260px; margin: 10px auto 0">
            <table width="100%">
                <tr>
                    <td style="padding: 5px;"><input id="currentPwd" name="oldPassword" style="width: 100%" type="hidden" value="123456" /></td>
                </tr>
                <tr>
                    <td style="padding: 5px;"><input class="easyui-textbox" id="newPwd" name="newPassword" style="width: 100%" data-options="label:'新密码:',validType:'length[0,32]',labelAlign:'right'"
                                                     type="password" required="true" validateOnCreate="false" /></td>
                </tr>
                <tr>
                    <td style="padding: 5px;"><input class="easyui-textbox" id="reNewPwd" name="confirmPassword" style="width: 100%" data-options="label:'确认密码:',labelAlign:'right'" type="password"
                                                     validType="pwdEquals['#newPwd']" required="true" validateOnCreate="false" /></td>
                </tr>
                <tr>
                    <td style="padding: 5px;height: 20px" align="center"><label><span id="errorTxt" style="color: red;"></span></label></td>
                </tr>
                <tr>
                    <td align="center"><a href="javascript:void(0)" class="easyui-linkbutton" data-options="width:80" iconCls="icon-ok" onclick="changePwd()">确认</a></td>
                </tr>
            </table>
        </div>
    </form>
</div>

<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->

<script type="text/javascript">
    //判断是否为JSON
    function isJSON(str) {
        if (typeof str == 'string') {
            try {
                var obj=JSON.parse(str);
                if(typeof obj == 'object' && obj ){
                    return true;
                }else{
                    return false;
                }
            } catch(e) {
                console.log('error：'+str+'!!!'+e);
                return false;
            }
        }
        console.log('It is not a string!')
    }
    //返回登录页面，供子页面调用
    function toLogin() {
        window.location.href='<#config name="uap.contextPath"/>/login/index.html';
    }
    //跳转到url
    function toUrl(url) {
        window.location.href = url;
    }
    //监听子页面的toLogin事件消息
    window.addEventListener('message',function(e){
        var data = e.data;
        var origin = e.origin;
        if(data  == 'toLogin'){
            toLogin();
        }
    },false);

    //点击系统菜单或用户菜单
    function systemClickHandler(item) {
        //如果没有子菜单，当前调用者则是easyui-linkbutton，回调事件没有item参数，只能从options中获取
        if(item == null){
            item = $(this).linkbutton("options");
        }
        if ("menu_logout" == item.id) {
            logout();
            return;
        }
        if(item.isClient == 1){
            //菜单id需要去掉前面的menubutton_，共11位
            callbackObj.showMenu(item.id.substr(11));
            return;
        }
        if(item.indexUrl == null){
            renderPage(item.text,item.url);
            return;
        }
        var title = item.text;
        var url = item.indexUrl;
        window.location.href='<#config name="uap.contextPath"/>/index/index.html?systemCode='+item.code;
    }

    //点击左侧菜单
    function menuClickHandler(item) {
        //如果没有子菜单，当前调用者则是easyui-linkbutton，回调事件没有item参数，只能从options中获取
        if(item == null){
            return;
        }

        var title = item.text;
        var url = item.attributes.url;
        if(!url || null == url || url===""){
            return;
        }
        renderPage(title,url);
    }

    function renderPage(title, url) {
        var content = '<iframe scrolling="auto" frameborder="0" src="'+url+'" onLoad="" style="width:100%; height: 99.2%;"></iframe>';
        $('#mainPanel').panel({
            content:content,
            cache:false
        });
    }

    function logout() {
        $.post('${contextPath!}/login/logout.action',{systemCode:'${system.code}', userId:'${userid}'},function(data){
            if ("200" == data.code) {
                if(typeof callbackObj != "undefined"){
                    callbackObj.logout();
                }else{
                    window.location.href = "${contextPath}/login/index.html";
                }
            } else {
                swal('提示', '注销失败', 'error');
            }
        });
    }

    function changePwd() {
        if (!$('#changePwdForm').form("validate")) {
            return false;
        }
        var formData = $("#changePwdForm").serializeObject();
        $.ajax({
            type : "POST",
            url : "${contextPath!}/user/changePwd.action",
            data : formData,
            processData : true,
            dataType : "json",
            async : true,
            success : function(data) {
                if (data.code == "200") {
                    $('#changePwdForm').form("clear");
                    $("#changePwdWin").window("close");
                } else {
                    $('#errorTxt').html(data.result)
                }
            },
            error : function() {
                swal('错误', '远程访问失败', 'error');
            }
        });
    }
    //根据系统id加载菜单
    function loadMenu(systemId){
        $.ajax({
            type : "POST",
            url : "${contextPath}/menu/listMenus.action",
            data : {systemId:systemId},
            processData : true,
            dataType : "json",
            async : true,
            success : function(result) {
                $("#sm").sidemenu({data: smLoadFilter(result)});
            },
            error : function() {
                swal('错误', '远程访问失败', 'error');
            }
        });
    }
    $(function () {
        <% if(userState == @com.dili.uap.glossary.UserState.INACTIVE.getCode()){%>
            //如果用户未激活，则弹框要求用户修改密码
            $("#changePwdWin").window("open");
            //输入框值有变化时清空错误提示
            $('#newPwd').passwordbox('textbox').bind('keydown', function(e){
                $('#errorTxt').html('');
            });
            $('#reNewPwd').passwordbox('textbox').bind('keydown', function(e){
                $('#errorTxt').html('');
            });
        <%}%>
        <%if(system.code!=@com.dili.uap.constants.UapConstants.UAP_SYSTEM_CODE){%>
            loadMenu("${system.id}");
        <%}%>
        renderPage("主页", "${system.indexUrl!"about:blank"}");
    });
</script>
</#body>