<#body>
<#menubuttonSwiperImp _divId="mainMenu" ></#menubuttonSwiperImp>
<style>
    .l-btn-plain.cur,
    .l-btn-plain {
        /*width: 106px;*/
        /*padding-left: 20px;*/
        /*padding-right: 20px;*/
        text-align: center;
        margin-right: 10px;
        background: rgba(230,230,230,0.8);
        border-radius:11px;
        color: #000;
    }
    .l-btn-text {
        /*line-height: 40px;*/
        font-size: 16px;
        font-weight:bold;
        font-family: "微软雅黑 Light";
    }
    .l-btn-plain:hover {
        background: #0081c2;
        color: #fff;
        border-radius:11px;
    }
    .menu-text {
        /*width: 100%;*/
        width: 118px;
        padding-left: 0;
        text-align: center;
        font-size: 16px;
        font-weight:bold;
        font-family: "微软雅黑 Light";
    }
    td div div:first-child {
        border: 0;
    }
    body {
        margin: 0;
        padding: 0;
    }
    /*顶部导航条*/
    .panel-body {
        font-size: 15px;
    }
    #header-menu {
        padding-top: 8px;
        padding-bottom: 8px;
        box-sizing: border-box;
        background-size: cover;
    }

    .logo a {
        text-decoration: none;
    }
    .logo img {
        vertical-align: middle;
    }
    .logo span {
        vertical-align: middle;
        font-size: 18px;
        color: #000;
        font-family: "微软雅黑 Light";
        font-weight: bold;
    }
    .homeA {
        display: inline-block;
        width: 46px;
        height: 38px;
        border: 0px solid #fff;
        background: url(${contextPath}/resources/images/icon/home.png) no-repeat center;
    }
    .homeA:hover{
        border: 1px solid dodgerblue;
        border-radius: 12px;
    }
    .cursorPointerTransform:hover{
        transform: scale(1.1);
        cursor:pointer;
    }

    .cursorPointer:hover{
        cursor:pointer;
    }

    /*$.messager.show 样式调整 st*/
    .window .window-header {
        background: transparent;
        padding: 0px 0px 0px 0px;
    }
    .window {
        overflow: hidden;
        padding: 0px;
        /* border-width: 1px; */
        /*border-style: solid;*/
    }
    .window, .window .window-body {
        border-color: #d0d0d0;
    }
    .window .window-body {
         border-width: 0px;
        /* border-style: solid; */
        border-top-width: 0px;
    }
    .panel-header {
        border-width: 0px;
        border-style: none;
    }
    .panel-title {
        margin-top: 4px;
        margin-left: 8px;
        margin-bottom: 4px;
        color: inherit;
        font-size: 15px;
    }
    .panel-tool a {
        display: inline-block;
        width: 16px;
        height: 16px;
        opacity: 0.8;
        filter: alpha(opacity=60);
        margin: 0 0 0 2px;
        vertical-align: middle;
    }
    .panel-icon, .panel-tool {
        position: absolute;
        top: 50%;
        margin-top: -8px;
        height: 18px;
        overflow: hidden;
    }
    /*$.messager.show 样式调整 end*/

    /* 消息边距 */
    .messager-body {
        padding: 10px 10px 10px 10px;
        overflow: auto;
    }

    /* 未读消息样式 */
    .red-point {
        display: inline-block;
        padding: 5px;
        border-radius: 8px;
        min-height: 20px;
        min-width: 20px;
        background: red;
        line-height: 14px;
        font-size: 14px;
        color: #FFFFFF;
        text-align: center;
    }
</style>
<script type="text/javascript">
    //sm加载过滤器
    var smLoadFilter = function(data){
        var idField = $("#sm").sidemenu("options")["_idField"];
        var textField = $("#sm").sidemenu("options")["_textField"];
        var parentIdField = $("#sm").sidemenu("options")["_parentIdField"];
        var jsonData = $.isArray(data) ? data : data.rows;
        //如果没数据或者已经有children属性，则不进行转换，主要用于拖动有子节点的场景
        //这里不能返回jsonData，jsonData可能为null导致报错，只能返回data
        if(null == jsonData || (jsonData.length <=0 || jsonData[0].hasOwnProperty("children"))){
            return data;
        }
        if(idField && idField != null && idField != ""){
            modifyJsonKey(jsonData,idField,"id");
        }
        if(textField && textField != null && textField != ""){
            modifyJsonKey(jsonData,textField,"text");
        }
        if(parentIdField && parentIdField != null && parentIdField != ""){
            modifyJsonKey(jsonData,parentIdField,"parentId");
        }
        return convertTree(jsonData);
    }


    //保存右下弹出消息框，用于关闭
    var messagerShowWin;
    //标记列表中的操作按钮可以点击
    var markBtnFlag = true;
    /**
     * 消息请求
     */
    function request(url, data, btnId) {
        if(!markBtnFlag){
            swal('错误', '操作太快了', 'error');
            return;
        }
        disableBtn(btnId);
        $.ajax({
            type : "POST",
            url : url,
            data : data,
            processData : true,
            dataType : "json",
            async : true,
            success : function(data) {
                enableBtn(btnId);
                if (data.code == "200") {
                    $("#messageGrid").datagrid("reload");
                } else {
                    swal('错误', data.message, 'error');
                }
            },
            error : function() {
                enableBtn(btnId);
                swal('错误', '远程访问失败', 'error');
            }
        });
    }
    /**
     * 根据annunciateItemId标记为已读
     */
    function markAsRead(id){
        request("${contextPath}/index/message/markAsRead.action", {id:id});
    }

    /**
     * 根据annunciateItemId删除消息
     */
    function deleteMessage(id){
        request("${contextPath}/index/message/deleteMessage.action", {id:id});
    }
    /**
     * 禁用按钮
     */
    function disableBtn(btnId) {
        if(btnId == null){
            markBtnFlag = false
        }else{
            $('#'+btnId).linkbutton('disable');
        }
    }
    /**
     * 启用按钮
     */
    function enableBtn(btnId) {
        if(btnId == null){
            markBtnFlag = true
        }else{
            $('#'+btnId).linkbutton('enable');
        }
    }
    /**
     * 在消息提示右边的数字和右上的消息图标点击后显示消息列表
     * @param closeMessager 是否关闭弹出消息
     */
    function showMessages(closeMessager){
        if(closeMessager){
            messagerShowWin.window("close");
        }
        $("#messageWin").window({
            title:'我的消息',
            closed:false,
            href:'${contextPath}/index/messages.html',
            tools:[]
        });
        $("#messageWin").window("open");
    }

    /**
     * 在消息提示和列表消息点击后跳转到消息详情
     * @param id
     * @param unread
     * @param closeMessager
     */
    function showDetail(id, unread, closeMessager) {
        if(unread){
            markAsRead(id);
        }
        if(closeMessager){
            messagerShowWin.window("close");
        }
        $("#messageWin").window({
            title:'消息详情',
            closed:false,
            href:'${contextPath}/index/messageDetail.html?id='+id,
            tools:[{
                iconCls:'icon-back',
                handler:function(){showMessages();}
            }]
        });
    }
</script>

<div class="easyui-layout" fit="true">
    <!-- ====================================================================================================================== -->
    <!-- 上方布局 -->
    <!-- ====================================================================================================================== -->
    <div  id="header-menu" region="north" height="auto" style="border:1px solid lightgray; width: 99.9%" align="center" >
        <table width="99.9%" style="padding: 0px; margin:0px;border-spacing: 0; border: 1px;" >
            <tr>
                <td class="home" style="padding-left: 30px;width: 60px;padding-right: 20px;"><a href="${contextPath}/index/index.html" class="homeA"></a></td>
                <td class="logo" style="width: 230px;white-space:nowrap;"><a href="${system.url!}"><img  src="<%if(isEmpty(system.logoUrl)){%>${contextPath}/resources/images/icon/uni-logo.png<%}else{%>${system.logoUrl}<%}%>" alt=""><span style="white-space:nowrap;">&nbsp;&nbsp;${system.name!}</span></a></td>
                <td >
                    <#menubuttonSwiper _divId="mainMenu" _panelAlign="center" _service="systemServiceImpl" _method="listByLoginUser" _queryParams="" _menuWidth="145" _menuHeight="40"
                    _textField="name" _idField="id" _parentIdField="parentId" plain="true" hasDownArrow="false" itemWidth="122" itemHeight="40" minWidth="50"
                    align="left" noline="true" onClick="systemClickHandler">
                    </#menubuttonSwiper>
                </td>

                <td class="header-user" width="220px" style="white-space:nowrap;">

                    <div id="userMenu" class="easyui-panel" style="padding:1px; float: left">
                        <%if(has(taskCenterUrl)){%>
                        <img class="cursorPointerTransform" style="vertical-align: middle;" onclick="toTaskCenter();" src="${contextPath}/resources/images/icon/task-32.png"></img>&nbsp;&nbsp;
                        <%}%>
                        <img class="cursorPointerTransform" style="vertical-align: middle" onclick="showMessages();" src="${contextPath}/resources/images/icon/bell-30.png"></img>
                        <span id="uncreadCount" class="red-point cursorPointerTransform" onclick="showMessages();" style="vertical-align: top;padding: 3px;border-radius: 5px;font-size: 13px;">0</span>
                        <a id="menubutton_right" href="#" class="easyui-menubutton" data-options="menu:'#menu_right', plain:true, hasDownArrow:false">${username}</a>
                    </div>
                    <div id="menu_right" style="width:100px" data-options="zIndex:'110000' , align:'left', noline:true, onClick:systemClickHandler, minWidth:108" itemHeight="40">
                        <%if(system.code==@com.dili.uap.constants.UapConstants.UAP_SYSTEM_CODE){%>
                        <div id="menu_userDetail" data-options="url:'${contextPath}/index/userDetail.html', align:'left'">
                            用户信息
                        </div>
                        <div id="menu_changePwd" data-options="url:'${contextPath}/index/changePwd.html', align:'left'">
                            修改密码
                        </div>
                        <%}%>
                        <div id="menu_logout" data-options="blankKey:'', align:'left'">
                            注销
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
    <!-- ====================================================================================================================== -->
    <!-- 西方布局 当系统编码为UAP时(此时首页显示系统图标)，不显示-->
    <!-- ====================================================================================================================== -->
    <%if(system.code!=@com.dili.uap.constants.UapConstants.UAP_SYSTEM_CODE){%>
    <div style="width: 173px;" height="100%" align="left" data-options="region:'west',title:'功能导航',split:true, hideCollapsedContent:false, expandMode:'dock'">
        <div id="sm" class="easyui-sidemenu" width="150" data-options="onSelect:menuClickHandler, data:[], _idField:'id', _textField:'name', _parentIdField:'parent_id'"></div>
    </div>
    <%}%>
    <!-- ====================================================================================================================== -->
    <!-- 中央布局 -->
    <!-- ====================================================================================================================== -->
    <div region="center" style="width:100%;border:0px;" height="auto" >
        <#comment>
        <input id="text" type="text"/> <button onclick="send()">发送消息</button>
        <hr/>
        <button onclick="closeWebSocket()">关闭WebSocket连接</button>
        <hr/>
        <div id="message"></div>
        </#comment>
        <div id="mainPanel" class="easyui-panel" style="width: 100%; height: 100%;" border="false" data-options="">
        </div>
    </div>
</div>
<!-- 强制修改密码弹出框 -->
<div class="easyui-window" id="changePwdWin" closable="false" minimizable="false" maximizable="false" collapsible="false"
     draggable="false" title="修改密码" modal="true" closed="true" style="width:320px;height:240px">
    <form id="changePwdForm" class="easyui-form" fit="true" method="post" novalidate="novalidate">
        <div style="width: 260px; margin: 10px auto 0">
            <table width="100%">
                <tr>
                    <td style="padding: 5px;"><input id="currentPwd" name="oldPassword" style="width: 100%" type="hidden" value="123456" /></td>
                </tr>
                <tr>
                    <td style="padding: 5px;"><input class="easyui-textbox" id="newPwd" name="newPassword" style="width: 100%" data-options="label:'新密码:',validType:'length[0,32]',labelAlign:'right'"
                                                     type="password" required="true" validateOnCreate="false" /></td>
                </tr>
                <tr>
                    <td style="padding: 5px;"><input class="easyui-textbox" id="reNewPwd" name="confirmPassword" style="width: 100%" data-options="label:'确认密码:',labelAlign:'right'" type="password"
                                                     validType="pwdEquals['#newPwd']" required="true" validateOnCreate="false" /></td>
                </tr>
                <tr>
                    <td style="padding: 5px;height: 20px" align="center"><label><span id="errorTxt" style="color: red;"></span></label></td>
                </tr>
                <tr>
                    <td align="center"><a href="javascript:void(0)" class="easyui-linkbutton" data-options="width:80" iconCls="icon-ok" onclick="changePwd()">确认</a></td>
                </tr>
            </table>
        </div>
    </form>
</div>

<div class="easyui-window" id="messageWin" closable="true" minimizable="false" maximizable="false" collapsible="false"
     draggable="false" title="我的消息" modal="false" closed="true" href="${contextPath!}/index/messages.html" style="width:1120px;height:530px">
</div>

<!-- ====================================================================================================================== -->
<!-- style & script 分隔线 -->
<!-- ====================================================================================================================== -->
<#index_wsjs/>

<script type="text/javascript">
    <%if(has(taskCenterUrl)){%>
    function toTaskCenter(){
        renderPage("任务中心", "${taskCenterUrl}");
    }
    <%}%>

    //判断是否为JSON
    function isJSON(str) {
        if (typeof str == 'string') {
            try {
                var obj=JSON.parse(str);
                if(typeof obj == 'object' && obj ){
                    return true;
                }else{
                    return false;
                }
            } catch(e) {
                console.log('error：'+str+'!!!'+e);
                return false;
            }
        }
        console.log('It is not a string!')
    }
    //返回登录页面，供子页面调用
    function toLogin() {
        window.location.href='<#config name="uap.contextPath"/>/login/index.html';
    }
    //跳转到url
    function toUrl(url) {
        window.location.href = url;
    }
    //监听子页面的toLogin事件消息
    window.addEventListener('message',function(e){
        var data = e.data;
        var origin = e.origin;
        if(data  == 'toLogin'){
            toLogin();
        }
    },false);

    //点击系统菜单或用户菜单
    function systemClickHandler(item) {
        //如果没有子菜单，当前调用者则是easyui-linkbutton，回调事件没有item参数，只能从options中获取
        if(item == null){
            item = $(this).linkbutton("options");
        }
        if ("menu_logout" == item.id) {
            logout();
            return;
        }
        if(item.isClient == 1){
            //菜单id需要去掉前面的menubutton_，共11位
            if(callbackObj){
                callbackObj.showMenu(item.id.substr(11));
                return;
            }
        }
        if(item.indexUrl == null){
            renderPage(item.text,item.url);
            return;
        }
        var title = item.text;
        var url = item.indexUrl;
        window.location.href='<#config name="uap.contextPath"/>/index/index.html?systemCode='+item.code;
    }

    //点击左侧菜单
    function menuClickHandler(item) {
        //如果没有子菜单，当前调用者则是easyui-linkbutton，回调事件没有item参数，只能从options中获取
        if(item == null){
            return;
        }

        var title = item.text;
        var url = item.attributes.url;
        if(!url || null == url || url===""){
            return;
        }
        renderPage(title,url);
    }

    function renderPage(title, url) {
        var content = '<iframe scrolling="auto" id="mainPanelIframe" frameborder="0" src="'+url+'" onLoad="" style="width:100%; height: 99.2%;"></iframe>';
        $('#mainPanel').panel({
            content:content,
            cache:false
        });
        $("#mainPanelIframe")[0].contentWindow.focus();
    }

    function logout() {
        $.post('${contextPath!}/login/logout.action',{systemCode:'${system.code}', userId:'${userid}'},function(data){
            if ("200" == data.code) {
                if(typeof callbackObj != "undefined"){
                    callbackObj.logout();
                }else{
                    window.location.href = "${contextPath}/login/index.html";
                }
            } else {
                swal('提示', '注销失败', 'error');
            }
        });
    }

    function changePwd() {
        if (!$('#changePwdForm').form("validate")) {
            return false;
        }
        var formData = $("#changePwdForm").serializeObject();
        $.ajax({
            type : "POST",
            url : "${contextPath!}/user/changePwd.action",
            data : formData,
            processData : true,
            dataType : "json",
            async : true,
            success : function(data) {
                if (data.code == "200") {
                    $('#changePwdForm').form("clear");
                    $("#changePwdWin").window("close");
                } else {
                    $('#errorTxt').html(data.result)
                }
            },
            error : function() {
                swal('错误', '远程访问失败', 'error');
            }
        });
    }
    //根据系统id加载菜单
    function loadMenu(systemId){
        $.ajax({
            type : "POST",
            url : "${contextPath}/menu/listMenus.action",
            data : {systemId:systemId},
            processData : true,
            dataType : "json",
            async : true,
            success : function(result) {
                $("#sm").sidemenu({data: smLoadFilter(result)});
            },
            error : function() {
                swal('错误', '远程访问失败', 'error');
            }
        });
    }
    $(function () {
        <% if(userState == @com.dili.uap.glossary.UserState.INACTIVE.getCode()){%>
            //如果用户未激活，则弹框要求用户修改密码
            $("#changePwdWin").window("open");
            //输入框值有变化时清空错误提示
            $('#newPwd').passwordbox('textbox').bind('keydown', function(e){
                $('#errorTxt').html('');
            });
            $('#reNewPwd').passwordbox('textbox').bind('keydown', function(e){
                $('#errorTxt').html('');
            });
        <%}%>
        <%if(system.code!=@com.dili.uap.constants.UapConstants.UAP_SYSTEM_CODE){%>
            loadMenu("${system.id}");
        <%}%>
        renderPage("主页", "${system.indexUrl!"about:blank"}");
    });
</script>
</#body>